<section id="register">
    <h2>Register</h2>
    <form action="/users" method="post">
        <p>
            <label>
                E-mail <br>
                <input name="email" type="email" required>
            </label>
        </p>
        <p>
            <label>
                Password <br>
                <input name="password" type="password" required>
            </label>
        </p>
        <p>
            <label>
                Confirm Password <br>
                <input name="confirm-password" type="password" required>
            </label>
        </p>
        <p><input type="submit" value="Submit"></p>
    </form>
</section>