<section id="tasks">
    <h2>Tasks</h2>
    <p><button name="add-task">Add Task</button></p>
    <table>
        <thead>
            <tr>
                <th>Description</th>
                <th>Due date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <template>
                <tr>
                    <td>Test Task</td>
                    <td><time datetime="2000-01-01 00:00">2000-01-01 00:00</time></td>
                    <td>
                        <button>Edit</button>
                        <button>Delete</button>
                    </td>
                </tr>
            </template>
        </tbody>
    </table>
</section>