<section id="task">
    <dialog>
        <h2>Task</h2>
        <form method="dialog">
            <p>
                <label>
                    Description <br>
                    <input name="description" type="text" required>
                </label>
            </p>
            <p>
                <label>
                    Due Date <br>
                    <input name="due-date" type="datetime-local" required>
                </label>
            </p>
            <p><input type="submit" value="Submit"></p>
        </form>
    </dialog>
</section>